html {
    scroll-behavior: smooth;
}

/*Background and Navigation formatting*/
body {
    margin: 0;
    background-color: #22252C;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

#content {
    width: 78%;
    height: 100%;
    overflow: scroll;
    float: right;
    margin: 0;
    padding: 1%;
    border: 0;
    float: right;
    background-color: #22252C;
}

nav {
    float: left;
    background-color: #33303f;
    height: 100%;
    width: 20%;
    padding: 1%;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

nav li a {
    margin: 5px;
    padding: 10px 10px;
    font-family: Consolas, monaco, monospace;
    display: block;
    position: fixed;
    background-color: #33303F;
    color: #FBFAFB;
}

nav li a:hover, .active {
    background-color: #E14658;
    color: #FFFFFF;
}

/* Home Page Formatting */
#main-title {
    color: #FFFFFF;
    font-family: Consolas, monaco, monospace;
    width: 78%;
    margin: auto;
    float: right;
}



/* Post Page Formatting */
h3.posts {

}

p.posts {

}